<img class="img-fluid" src="../../assets/img/image1.jpg">
<div class="text-center d-flex flex-column align-items-center caption">

<h2>Product Details</h2>

<div *ngIf="product">

  <h3> {{product.name}}  </h3>
  <h4> {{product.price | currency}} </h4>
  <p>  {{product.description}}  </p>
  <p>  Still remains:{{product.quantite}}  </p>

  <button [ngStyle]="{'color': product.quantite===1 ? 'red':'black'}" [disabled]="product.quantite===0" (click)="addToCart()">Buy</button> 
  



</div>
</div>
{{valId}} 


