<img class="img-fluid" src="../../assets/img/image1.jpg">




<div class="text-center d-flex flex-column align-items-center caption">
<h2>Web development courses </h2>
<div *ngFor="let product of products">
	<h3>
		<a [title]="product.name + ' details' "[routerLink]="['/products', product.id] ">

			{{ product.name }}
		</a>

	</h3>
	<!-- <p *ngIf="product.description">
		Description:{{product.description}}
		<p> -->
			<button (click)="share()"  class="btn btn-outline-secondary">Share</button>
			<!-- <button (click)="share()">
    Share
  </button> -->
  <app-product-alerts
  [product]="product"
    (notify)="onNotify()">

</app-product-alerts>


</div>

</div>
